html {
  scroll-behavior: smooth;
}
.section {
  overflow-y: hidden;
  display: grid;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  grid-template-columns: unset;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  scroll-snap-stop: always;
  &__wrapper {
    position: relative !important;
    touch-action: none;
    display: block;
    &:hover .section__btn {
      opacity: 0.3;
    }
    &__btn {
      padding: 2rem 1rem;
      position: absolute;
      z-index: 10;
      bottom: 50%;
      transform: translateY(50%);
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover button.section__btn {
        opacity: 1;
      }
      &__scrolldown {
        color: white;
        position: absolute;
        z-index: 20;
        height: 56px;
        width: 56px;
        left: calc(50% - 23px);
        transform: translateX(-50%);
        bottom: 10%;
        animation-name: ani-bounce;
        animation-duration: 1.75s;
        animation-iteration-count: infinite;
        & > a {
          color: white;
        }
        & > a:visited {
          color: white;
        }
      }
      &--right {
        right: 1rem;
      }
    }
  }
  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    & > svg {
      filter: drop-shadow(0px 0px 4px #fff);
    }
  }
  &__counter {
    width: fit-content;
    position: absolute;
    bottom: 20%;
    right: 10%;
    z-index: 11;
    color: white;
    --height: 70px;
    --font-size: 4rem;
    --line-height: 4.2rem;
    &__teen {
      font-size: var(--font-size);
      line-height: var(--line-height);
      transition-duration: 0.75s;
      transform: translateY(var(--teen));
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height);
      }
    }
    &__unit {
      font-size: var(--font-size);
      line-height: var(--line-height);
      transition-duration: 0.75s;
      transform: translateY(var(--unit));
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height);
      }
    }
    &__slide {
      font-size: 1.6rem;
    }
  }
  &__wrap__counter {
    position: relative;
    height: var(--height);
    display: flex;
    overflow: hidden;
  }
  &__item {
    scroll-snap-align: start;
    position: relative;
    z-index: 8;
    &__img {
      width: 100vw;
      height: 100vh;
      z-index: 1;
      object-fit: cover;
    }
    &__txt {
      position: absolute;
      z-index: 2;
      top: 30%;
      left: 10%;
      & * {
        z-index: 2;
        margin: 0;
      }
      &__name {
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 1.2857;
        text-shadow: 0 0 5px #fff;
      }
      &__info {
        &--h2 {
          margin: 2.5rem 0;
          font-size: 3.5rem;
          font-weight: 500;
          text-shadow: 0 0 5px #fff;
          text-transform: uppercase;
          line-height: 1.1;
        }
      }
      &__link {
        width: fit-content;
        background-color: #717fe0;
        padding: 0.65rem;
        border-radius: 0.8rem;
        &:hover {
          background-color: #000;
        }
        &--a {
          font-size: 1rem;
          line-height: 1.47;
          text-transform: uppercase;
          font-weight: 500;
          color: white;
          &:visited {
            color: white;
          }
        }
      }
    }
  }
}
.section::-webkit-scrollbar {
  display: none;
}
.active {
  & .section__item__txt__name {
    animation-name: var(--ani-name);
    animation-duration: 1.75s;
  }
  & .section__item__txt__info {
    animation-name: var(--ani-info);
    animation-duration: 1.75s;
  }
  & .section__item__txt__link {
    animation-name: var(--ani-link);
    animation-duration: 1.75s;
  }
}
@keyframes ani-rotate {
  from {
    opacity: 0;
    transform: translate3d(-300px, -100px, 0) rotate(-45deg);
  }
  to {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-rotate2 {
  from {
    opacity: 0;
    transform: translate3d(300px, 100px, 0) rotate(45deg);
  }
  to {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-rotate3 {
  from {
    opacity: 0;
    transform: translate3d(200px, 200px, 0) rotate(-65deg);
  }
  to {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes ani-translateX {
  from {
    opacity: 0;
    transform: translate3d(300px, 0px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes ani-translateY {
  from {
    opacity: 0;
    transform: translate3d(0px, 300px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes ani-translateY2 {
  from {
    opacity: 0;
    transform: translate3d(0px, -300px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes ani-translateX2 {
  from {
    opacity: 0;
    transform: translate3d(-300px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes ani-opacity {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes ani-bounce {
  0%,
  100% {
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
