:root {
  --element-color: rgb(242, 133, 169);
  --class-color: rgb(191, 143, 190);
  --key-color: rgb(246, 246, 244);
  --string-color: rgb(231, 238, 147);
  --link-color: rgb(23, 112, 230);
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}
.vscode {
  background-color: rgb(25, 26, 33);
  &_menu {
    background-color: rgb(25, 26, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    &_text {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      align-items: center;
      width: fit-content;
      word-wrap: break-word;
      white-space: normal;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      & ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        align-items: center;
      }
      & li {
        font-size: 12px;
        color: rgb(213, 213, 213);
        padding: 0 10px;
        &:hover {
          background-color: rgb(47, 47, 52);
          border-radius: 7px;
        }
      }
    }
    &_logo {
      width: 35px;
      height: 30px;
      white-space: normal;
      color: rgb(246, 246, 244);
      line-height: 22px;
      text-decoration: none;
      position: relative;
    }
    &_local {
      font-size: 12px;
      width: fit-content;
      word-wrap: break-word;
      white-space: normal;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-align: center;
      & p {
        color: rgb(213, 213, 213);
        margin: 0;
        padding: 0px 5px;
      }
    }
    &_control {
      flex-shrink: 0;
      & button {
        width: 46px;
        height: 30px;
        background-color: transparent;
        color: rgb(213, 213, 213);
        border: none;
        border-radius: 0;
        cursor: auto;
        margin: 0;
        &:hover {
          background-color: rgb(47, 47, 52);
        }
        &:last-child {
          background-color: rgb(211, 18, 35);
        }
      }
    }
  }
  &_content {
    display: flex;
    flex-direction: row;
    &_bar {
      width: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: rgba(246, 246, 244, 0.5);
      background-color: rgb(22, 53, 70);
      &--top {
        display: flex;
        flex-direction: row;
        & ul {
          & li {
            width: 48px;
            height: 48px;
            text-align: center;
            &:hover {
              background-color: rgb(60, 61, 81);
              color: rgb(246, 246, 244);
            }
          }
        }
      }
      &--bottom {
        & ul {
          & li {
            width: 48px;
            height: 48px;
            text-align: center;
            &:hover {
              color: rgb(246, 246, 244);
            }
          }
        }
      }
      &--active {
        background-color: rgb(60, 61, 81);
        color: rgb(246, 246, 244);
      }
    }
    &_folder {
      width: 230px;
      background-color: rgb(38, 38, 38);
      color: rgb(246, 246, 244);
      padding-left: 20px;
      &_explorer {
        width: 100%;
        height: 35px;
        background-color: transparent;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }
      &_tree {
        font-size: 12px;
      }
    }
    &_code {
      background-color: rgb(40, 42, 54);
      height: 500px;
      flex: 1;
      &_header {
        font-size: 12px;
        &_title {
          color: var(--color_code_title);
          background-color: rgb(25, 26, 33);
          // color: random rgb(98, 202, 85); rgb(25,184,108) rgb(246, 246, 244)
          & div {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 0 10px;
            width: fit-content;
            background-color: rgb(40, 42, 54);
            position: relative;
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              width: 100%;
              height: 4px;
              border-radius: 7px 7px 0 0px;
              background-size: 400% 400%;
              background-image: linear-gradient(
                -45deg,
                #ec2254,
                #ff2ced,
                #ffb86c,
                #06a6db,
                #20e3b2,
                #ffcc70,
                #e40fd6,
                #4158d0
              );
              animation: gradient 5s ease alternate infinite;
            }
          }
        }
        &_breadcrumb {
          padding: 3px 10px;
          border-bottom: 1px solid black;
          box-shadow: 0px 4px 4px rgb(25, 26, 33);
          & li {
            margin-right: 5px;
            display: inline-flex;
            cursor: default;
            color: rgb(213, 213, 213, 0.5);
            &:hover {
              color: rgb(213, 213, 213);
            }
          }
        }
      }
      &_body {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        position: relative;
        width: fit-content;
        &_my_profile {
          color: rgb(40, 42, 54);
          width: fit-content;
          & + per {
            background-color: #e40fd6;
          }
          & > per {
            color: rgb(123, 127, 139);
            & > per {
              color: var(--element-color);
              & > per {
                color: var(--class-color);
                & > per {
                  color: var(--element-color);
                  & > per {
                    color: var(--key-color);
                    margin-left: 20px;
                    & > per {
                      color: var(--string-color);
                      & per {
                        color: var(--key-color);
                        & > per {
                          // color: var(--key-color);
                          margin-left: 20px;
                          & > per {
                            color: var(--class-color);
                            margin-left: 0;
                            & > per {
                              color: var(--key-color);
                              & > per {
                                margin-left: 20px;
                                & > per {
                                  color: var(--string-color);
                                  margin-left: 0;
                                  & > per {
                                    color: var(--key-color);
                                    & > per {
                                      margin-left: 20px;
                                      & > per {
                                        & a {
                                          color: var(--link-color);
                                          cursor: pointer;
                                          &:visited {
                                            color: var(--link-color);
                                          }
                                        }
                                        & per {
                                          color: var(--key-color);
                                          & per {
                                            margin-left: 20px;
                                            & per {
                                              margin-left: 0;
                                              color: var(--string-color);
                                              & per {
                                                color: var(--key-color);
                                                & per {
                                                  margin-left: 20px;
                                                  & per {
                                                    margin-left: 0;
                                                    color: var(--string-color);
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        & span {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 2px;
          height: 20px;
          background: rgb(213, 213, 213);
          background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
          animation: blinkScale 700ms ease-in-out infinite;
        }
      }
    }
  }
}
per:last-child {
  background-color: #06a6db;
}
li {
  cursor: default;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes blinkScale {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
