
html {
  background-color: rgb(244, 244, 244);
  height: -webkit-fill-available;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.noScript {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.outer_width {
  z-index: 999999;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
a{
  text-decoration: none;
}
a:active {
  color: black
}
a:visited {
  color: #999;
}
body {
  font-family: -apple-system, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

}
header {
  padding: 0;
}
#body .headerMenu a.active {
  color: #6c7ae0;
}
.li_header_user {
  display: block;
}
p {
  display: block;
  margin-block-start: 0.3em;
  margin-block-end: 0.7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.div_error_404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 250px){
  .outer_width {
    display: flex;
  }
  .inner_width {
    display: none;
  }
}
@media screen and (max-width: 280px){
  .li_header_user {
    display: none;
  }
}
@media screen and  (max-width:420px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 420px) and  (max-width:600px) {
  html {
    font-size: 14px;
  }
}
@media (min-width:600px) and (max-width:900px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
/* inner product css */

/* loading css */
.loading {
  position: absolute;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  width: 3rem;
  height: 3rem;
  border: 0.7rem solid rgba(0, 0, 0, 0.2);
  border-left: 0.7rem solid #000000;
  border-radius: 50%;
  animation: load 1.1s infinite linear;
  transition: opacity 0.3s;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}