
html {
  background-color: rgb(244, 244, 244);
  height: -webkit-fill-available;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.noScript {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
a{
  text-decoration: none;
}
a:active {
  color: black
}
a:visited {
  color: #999;
}
body {
  font-family: -apple-system, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

}
header {
  padding: 0;
}
p {
  display: block;
  margin-block-start: 0.3em;
  margin-block-end: 0.7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and  (max-width:600px) {
  html{
    font-size: 13px;
  }
}
@media (min-width:600px) and (max-width:900px) {
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  html{
    font-size: 17px;
  }
}

/* inner product css */
@media (min-width:900px) and  (max-width: 1200px){
  .mmui-item {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 25%;
}
}
@media (min-width:600px) and (max-width:900px)
{
.mmui-item {
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 33.33333%;
}}
@media (min-width: 420px) and (max-width: 600px){
  .mmui-item {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 50%;
}}
@media screen and (max-width: 420px){
  .mmui-item {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
}}
@media screen and (min-width: 1200px){
  .mmui-item {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 25%;
}
}
.mmui-item {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.css-1vl0eai {
  padding: 8px;
  position: relative;
}
.css-MuiPaper-root {
  font-family: -apple-system, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 35px;
}
.css-MuiPaper-root:hover {
  box-shadow: 3px 1px 1px 1px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.makeStyles-divImg {
  display: block;
  overflow: hidden;
  position: relative;
}
/* IMG_PRO_HEIGHT */
.makeStyles-productImg {
  width: 100%;
  object-fit: cover;
}
.css-4g6ai3 {
  cursor: pointer;
}
.makeStyles-divName {
  min-height: 2.5rem;
}
.makeStyles-name {
  color: #999;
  display: -webkit-box;
  overflow: hidden;
  font-size: 1rem;
  word-wrap: break-word;
  line-height: 15px;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.makeStyles-price {
  color: #666;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.makeStyles-pricePercent {
  color: rgb(255, 66, 78);
  border: 1px solid rgb(255, 66, 78);
  font-size: 0.81rem;
  margin-left: 7px;
  border-radius: 2px;
  background-color: rgb(255, 240, 241);
}
